<h1><%=@company.name%></h1>
<% if @company.industry != '' %><p>Industry: <%=@company.industry%></p><%end%>
<% if @company.website != '' %> <p>Website: <%@company.website%></p> <%end%>
<%= link_to 'edit', edit_company_path(@company) %>
<%= link_to("delete", company_path(@company), method: :delete) %>
