// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//
@import "bootstrap";

.navbar {

	line-height: 45px;

	form {
		margin-top: 5px;
	}
}

.companies {

	a {
		text-decoration: none;
		font-weight: 600;
		color: #242424;
	}

	table {
		margin: 50px auto;
		max-width: 900px;

		td {
			border: 1px black solid;
		}
	}

	.company-name {
		background-color: #ffed00;
		font-size: 18px;
	}

	.company-industry {

	}

	.company-website {

	}

	.company-rating {

	}
}

#progress {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
	font-size: 2em;
	color: #FCB03C;
}
