// // /*
// //  * This is a manifest file that'll be compiled into application.css, which will include all the files
// //  * listed below.
// //  *
// //  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// //  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
// //  *
// //  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
// //  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// //  * files in this directory. Styles in this file should be added after the last require_* statement.
// //  * It is generally better to create a new file per style scope.
// //
//
@import "bootstrap";

@media only screen and (min-width: 320px) {

   body { font-size: 0.565em; }

}

@media only screen and (min-width: 375px) {

   body { font-size: 0.68em; }

}

@media only screen and (min-width: 412px) {

   body { font-size: 0.75em; }

}

.content {
	margin-top: 80px;
}

.front-page-title {
  text-align: center;
}
